/* .indicator{
  border-radius: 50%;
  width: 15px;
  height: 15px;
} */
.night{
  background: #0066CD;
}
.green{
  background: #33a532;
}
.red{
  background: #f9152f;
}
.badge{
  border-radius: 50%;
  overflow: hidden;
  padding:0;
  border:none;
}