.container{
  max-width: 900px;
  margin: 0 auto;
}

.my-row{
  display:flex;
}

.content-holder{
  flex:1;
  padding: 0 0.75rem;
}

.menu-holder{
  width: 300px; 
  text-align: left;
  padding: 0 0.75rem;
}

.menu-key{
  list-style-type:none;
  margin:0;
  padding:0;
}
.menu-key li{
display:flex;
align-items: center;
padding: 0.25rem 0;
}
.menu-key li span{
  margin-right: 1rem;
}